/*
essential styles:
these make the slide-show work
*/
#slides {
  position: relative;
  width: 256px;
  height: 256px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.showing {
  opacity: 1;
  z-index: 2;
}

/*
non-essential styles:
just for appearance;
*/

#slides {
  margin-top: 2rem;
}

.slide {
  padding: 2px;
  box-sizing: border-box;
  background: #0275d8;
}
